.background {
  height: 773px;
  width: 1440px;
  background-image: url(./image.png);
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
}
p {
  margin: 0;
}
.white {
  color: white;
}
.navigation {
  width: 1204px;
  height: 40px;
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding: 39px;
  margin: 0;
}
.object1 {
  justify-content: start;
}
.object2 {
  height: 22px;
  width: 322px;
  font-size: 18px;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 24px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.object3 {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}
.object4 {
  width: 618px;
  height: 394px;
  align-items: center;
  display: flex;
  text-align: center;
  margin: 0;
  align-items: center;
  flex-direction: column;
  padding-bottom: 210px;
}
.object5 {
  color: white;
  font-size: 80px;
  font-weight: 400;
}

.object6 {
  color: white;
  font-size: 250px;
  font-weight: 400;
}
.object7 {
  color: white;
  font-size: 60px;
  font-weight: 900;
}
.fontsec2 {
  align-self: stretch;
  font-family: "Bebas Neue", sans-serif;
  font-style: normal;
}
.background2 {
  height: 500px;
  width: 1440px;
  background-image: url(./background2.png);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.navigation2 {
  width: 1202px;
  height: 370px;
  justify-content: center;
  display: flex;
  align-items: center;
  margin: 0;
  gap: 40px;
}
.object21 {
  height: 350px;
  width: 232px;
  background-image: url(./1.png);
  background-size: cover;
  border-radius: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25),
    0 4px 4px 0 rgba(127, 125, 125, 0.25);
}
.object22 {
  height: 350px;
  width: 232px;
  background-image: url(./2.png);
  background-size: cover;
  border-radius: 40px;
}
.object23 {
  height: 350px;
  width: 232px;
  background-image: url(./3.png);
  background-size: cover;
  border-radius: 40px;
}
.object24 {
  height: 350px;
  width: 232px;
  background-image: url(./4.png);
  background-size: cover;
  border-radius: 40px;
}
.font123 {
  color: rgba(253, 253, 254, 0.8);
  text-align: center;
  text-shadow: 0 4px 4.9px rgba(0, 0, 0, 0.65);
  font-family: "Bebas Neue";
  font-size: 37px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
}
.shadow {
  border-radius: 40px;
  box-shadow: -8px -8px 0 0 rgba(31, 114, 170, 0.46),
    8px 8px 0 0 rgba(41, 114, 139, 0.25);
}
.background11 {
  width: 1440px;
  height: 902px;
  flex-shrink: 0;
  background-image: url(./map.png);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  flex-wrap: wrap;
  position: relative;
}
.section1 {
  width: 1440px;
  height: 204px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  align-self: flex-start;
  margin: 0;
  text-align: center;
  gap: 10px;
}
.firstp {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 42px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.secondp {
  color: rgba(24, 24, 27, 0.7);
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
}
.p {
  margin: 0;
  padding: 0;
}
.section2 {
  display: flex;
  width: 1200px;
  height: 640px;
  justify-content: space-between;
  align-items: center;
}
.section3 {
  display: flex;
  width: 513px;
  height: 640px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  flex-shrink: 0;
}
.siaze {
  display: flex;
  height: 112px;
  width: 513px;
  padding: 30px 30px 30px 0;
  align-items: center;
  align-self: stretch;
  background-color: #eee9d9;
}
.siqzesty {
  border-radius: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sizesquareuud {
  display: flex;
  padding-left: 30px;
  justify-content: space-between;
  align-items: center;
  flex: 1 0 0;
}
.iconcont {
  width: 14px;
  height: 14px;
}
.txtsty {
  background-color: white;
  color: #000;
  font-family: GIP;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-radius: 50%;
}
.D {
  color: var(--text-text-foreground, #09090b);
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.C {
  color: var(--text-text-accent-foreground, #18181b);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  text-align: center;
  gap: 12px;
}

.square2 {
  background: rgba(139, 184, 193, 0.8);
}
.square3 {
  background: rgba(170, 216, 215, 0.8);
}
.square4 {
  background: rgba(139, 192, 189, 0.8);
}
.square5 {
  background: rgba(151, 204, 224, 0.8);
}
.divdiv {
  width: 94px;
  height: 15px;
  display: flex;
  align-items: center;
  gap: 12px;
}
.section4 {
  height: 640px;
  width: 647px;
}
.circle-image {
  width: 245px;
  height: 245px;
  position: absolute;
  top: 340px;
  right: 152px;
  display: none;
}
.square1:hover ~ .circle-image {
  display: block;
}
.square1:hover {
  border: 5px solid white;
}
.circle-image2 {
  width: 245px;
  height: 245px;
  position: absolute;
  top: 238px;
  right: 338px;
  display: none;
}
.square2:hover ~ .circle-image2 {
  display: block;
}
.square2:hover {
  border: 5px solid white;
}
.circle-image3 {
  width: 245px;
  height: 245px;
  position: absolute;
  top: 360px;
  right: 490px;
  display: none;
}
.square3:hover ~ .circle-image3 {
  display: block;
}
.square3:hover {
  border: 5px solid white;
}
.circle-image4 {
  width: 245px;
  height: 245px;
  position: absolute;
  top: 173px;
  right: 545px;
  display: none;
}
.square4:hover ~ .circle-image4 {
  display: block;
}
.square4:hover {
  border: 5px solid white;
}
.circle-image5 {
  width: 245px;
  height: 245px;
  position: absolute;
  top: 225px;
  right: 365px;
  display: none;
}
.square5:hover ~ .circle-image5 {
  display: block;
}
.square5:hover {
  border: 5px solid white;
}
.background22 {
  width: 1440px;
  height: 1739px;
  background-image: url("/background3.png");
  background-size: cover;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  margin: 0;
}
.bb2 {
  width: 1440px;
  height: 204px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}
.bb3 {
  width: 1440px;
  height: 560px;
  display: flex;
  justify-content: center;
  gap: 24px;
  align-items: center;
}
.cardtt {
  width: 384px;
  height: 527px;
  display: flex;
  background-color: #fafbfc;
  border-radius: 40px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.carddot1 {
  width: 384px;
  height: 92px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 35px;
  gap: 16px;
}
.fontcard1 {
  color: var(--Text-TextPrimary, #121316);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.carddot2 {
  width: 384px;
  height: 435px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.cardot21 {
  width: 336px;
  width: 290px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 20px;
}
.fontprice {
  color: #303030;
  font-family: Montserrat;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0;
}
.fontsub {
  display: flex;
  height: 19px;
  flex-direction: column;
  justify-content: flex-end;
  flex: 1 0 0;
  color: #919191;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-top: 10px;
}
.carddot211 {
  width: 336px;
  height: 180px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.fontinc {
  color: var(--Text-TextPrimary, #121316);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0;
  padding-left: 60px;
}
.imgfont {
  color: var(--Text-TextSecondary, #3f4145);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.checkdiv {
  display: flex;
  gap: 20px;
  padding-left: 20px;
}
.cardselec {
  width: 336px;
  height: 48px;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
  border-radius: var(--radius-rounded-full, 9999px);
  background: #a4d1e2;
  position: relative;
  bottom: 15px;
}
.fontselect {
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 125% */
  letter-spacing: -0.16px;
}
.cardtt:hover {
  border-radius: 40px;
  box-shadow: -8px -8px 0 0 rgba(46, 65, 71, 0.4),
    8px 8px 0 0 rgba(41, 114, 139, 0.25);
}
.cardtt:hover > .carddot2 > .cardselec {
  background-color: rgba(24, 24, 27, 0.9);
  color: white;
}
